@charset "UTF-8";

*{
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight:400;
}

.ant-btn-loading{
  transition:0s;
}

ul.ant-dropdown-menu-item-group-list {
    list-style-type: none;
    padding: 0;
}

.fullWidth, .fullWidth > .ant-form-item-control-wrapper{
  width:100%;
}

.commonPadding{
  padding:15px;
  margin: 9px 0 0 0;
}

.smallMargin{
  margin:10px;
}

.upsideDown{
  margin:10px 0;
}

.smallText{
  font-size:12px;
}

.grayButton{
  color: #828282;
}

.ant-card-cover{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}

.antCard{
  width:200px !important;
  height:200px !important;
}

@media screen and (max-width:1650px){
  .ant-card-cover{
    width:150px !important;
    height:150px !important;
  }
}

.ant-row{
  display: flex;
  justify-content: flex-start;
  margin:10px 0 0 0;
  flex-wrap: wrap;
}
.ant-card-cover img{
  object-fit: contain !important;
}

.ant-col{
  padding:4px;
}

.noCardBody .ant-card-body{
  display: none !important;
}

.isDisabledImage img{
  filter: grayscale();
}

.isDisabledImage .disableButton,.standPin{
  color:#ff6000 !important;
}

.standPin {
  -webkit-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  bottom: 1px;
  position: relative;
}

.groupButtons button{
  margin: 5px;
}

.ant-dropdown-menu-item-group-title{
  border-bottom:1px solid #dadada;
}

.ant-dropdown-menu, .ant-layout-sider, .ant-layout-header, .nosel{
  user-select: none;
}

.ant-btn-round.ant-btn-lg {
  height: 50px;
  padding: 0 35px;
  font-size: 26px;
  border-radius: 40px;
}

.ant-popover{
  z-index:3;
}

.isInvisible{
  display : none !important;
}

.ant-spin-nested-loading{
  overflow:hidden;
}

.flexImageBoxWrapper{
  display:flex;
  justify-content: flex-start;
}

.flexImageBox,.flexImageBox img{
  width:75px;
  height:75px;
  object-fit:cover;
}

.flexImageBox img{
  padding:5px;
}
